
body {
	box-sizing: border-box;
	font-size: 13px;
	height: 100%;
	width: 100%;
	font-family: arial, sans-serif
}

.container,
.btn {
	display: flex;
	justify-content: center;
}

.usericon {
	width: 32px;
	height: 32px;
	position: relative;
	top: 0;
	padding: 0;
	margin: 0;
	border: 0px;
	border-radius: 50%;
	margin-right: 20px;
}


img {
	height: 92px;
	padding-top: 90px;
}


ul {
	list-style: none;
	padding: 0;
}

.main-nav,
.second-nav,
.right,
.left {
	display: flex;
}

.left {
	margin-left: 10px 
}

.main-nav,
.second-nav {
	justify-content: space-between;
}

.main-nav ul {
	padding: 0.2rem 0.5rem;
	margin-top: 5px;
}


.buttons {
	background-color: #f8f9fa;
	border: 1px solid #f8f9fa;
	border-radius: 4px;
	color: #3c4043;
	font-size: 14px;
	font-family: arial, sans-serif;
	padding: 8px 16px;
	height: 36px;
	margin: 20px 4px;
	cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  background-color: #f8f9fa;
  border-top: 1px solid rgb(218, 220, 224);
  color: rgba(0,0,0,.54);
}
 
footer p {
	padding: 0 25px;
}

footer ul li{
	padding: 0 25px;
}

.second-nav {
  border-top: 1px solid rgb(218, 220, 224);
}

.apps-icons {
	background-image: url('http://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
	background-position: -132px -38px;
    background-size: 528px 68px;
    height: 30px;
    width: 30px;
    position: relative;
    top: 0;
    opacity: .50;
}


.main-nav ul li {
	padding-right: 14px;
	line-height: 32px;
	color: #000;
	opacity: 0.75;
}

#search-input {
	border: 1px solid black;
	margin: 10px 0px;
	justify-content: center;
	width: 380px;
	border: none;
}

#search-input:focus {
	outline: none;
}

#microphone {
	width: 23px;
	height: 23px;
	margin: 10px;
	justify-content: flex-end;
}

#searchbox {
	width: 490px;
	height: 45px;
	border: 1px solid #dfe1e5;
	border-radius: 24px;
	margin: 20px auto;
	display: flex;
}

#searchbox:hover {
	box-shadow: 0 1px 6px rgb(32 33 36 / 28%)
}

#search-icon {
	margin: 10px 15px;;
	width: 23px;
	height: 23px;
	color: #9aa0a6;
}

