html, body {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 13px;
	font-family: arial, sans-serif;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
}

.outer-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}



/*Styling of nav elements*/

.main-nav,
.second-nav,
.right,
.left {
	display: flex;
	align-items: center;
	justify-items: center;
}

nav {
	height: 60px;
}

.usericon {
	width: 32px;
	height: 32px;
	padding: 0;
	margin: 0;
	border: 0px;
	border-radius: 50%;
	position: relative;
}

.left {
	margin-left: 10px 
}

.main-nav,
.second-nav {
	justify-content: space-between;
}

.main-nav ul {
	display: flex;
	justify-items: center;
	padding: 0.2rem 0.5rem;
	margin-top: 5px;
}

.buttons {
	background-color: #f8f9fa;
	border: 1px solid #f8f9fa;
	border-radius: 4px;
	color: #3c4043;
	font-size: 14px;
	font-family: arial, sans-serif;
	padding: 8px 16px;
	height: 36px;
	margin: 20px 4px;
	cursor: pointer;
}

.buttons:hover {
	border: 1px solid #dadce0;
	box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.apps-icons {
	background-image: url('http://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
	background-position: -132px -38px;
    background-size: 528px 68px;
    height: 30px;
    width: 30px;
    position: relative;
    top: 0;
    opacity: .50;
}

.apps-icons:hover{
	cursor: pointer;
	background-color: lightgrey;
}

.main-nav ul li {
	margin-right: 14px;
	line-height: 32px;
	text-align: center;
}

.main-nav ul li a {
	color: #000;
	opacity: 0.75;
}

.main-nav ul li:hover {
	text-decoration: underline;
}



/*Main elements*/

main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	margin-top: auto;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 100px;
}

img {
	height: 102px;
	padding-top: 20px;
}


#search-input {
	border: 1px solid black;
	margin: 10px 0px;
	justify-content: center;
	width: 86%;
	border: none;
}

#search-input:focus {
	outline: none;
}

#microphone {
	width: 23px;
	height: 23px;
	margin: 10px;
	justify-content: flex-end;
}

#searchbox {
	width: 590px;
	height: 45px;
	border: 1px solid #dfe1e5;
	border-radius: 24px;
	margin: 20px auto;
	display: flex;
}

#searchbox:hover {
	box-shadow: 0 1px 6px rgb(32 33 36 / 28%)
}

#search-icon {
	margin: 10px 15px;;
	width: 23px;
	height: 23px;
	color: #9aa0a6;
}

/*Footer elements*/

footer {
	height: 90px;
	font-size: 14px;
  	background-color: #f8f9fa;
  	border-top: 1px solid rgb(218, 220, 224);
  	color: rgba(0,0,0,.54);
}


footer p {
	padding: 0 25px;
}

footer ul li{
	padding: 0 25px;
}

footer ul li a {
	color: rgba(0,0,0,.54);
}

.second-nav {
  border-top: 1px solid rgb(218, 220, 224);
}

/*Media querie for short screens*/

@media (max-width:600px) {

	#searchbox {
		width: 90vw;
	}

	.second-nav {
		justify-content: center;
		flex-wrap: wrap;
	}
}

